@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-font-colour: rgb(61, 50, 44);
    --secondary-font-colour: white;
    --primary-bg-colour: #ffddc9;
    --secondary-bg-colour: #d78f83;
    --tertiary-bg-colour: #a68c8a;
    --primary-icon-colour: #a68c8a;
    --secondary-icon-colour: #7e6361;
}

::selection {
    color: white;
    background-color: var(--secondary-icon-colour);
}

/* ## Tags */

body {
    font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg-colour);
    color: var(--primary-font-colour);
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    height: 150px;
}

header {
    background-color: var(--secondary-bg-colour);
    padding: .5ch;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: 1rem;
}

h1 {
    font-weight: bolder;
    margin: auto;
}

h1, h2, h3, h4 {
    user-select: none;
}

button {
    background-color: var(--primary-icon-colour);
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    border: none;
    border-radius: 3px;
    text-align: center;
    color: var(--secondary-font-colour);
    font-family: Helvetica, Arial, sans-serif;
    transition: all .3s ease;
    user-select: none;
}

button:hover {
    background-color: var(--secondary-bg-colour);
}

button:active {
    background-color: var(--secondary-icon-colour);
    border: none;
    color: white;
    transform: scale(.95);
}

button:focus {
    outline: none;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}