@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --text-dark: rgb(61, 50, 44);
    --text-light: white;
    --bg-light: #eedac9;
    --bg-midtone: #d78f83;
    --bg-pink: #a68c8a;
    --bg-brown: #a68c8a;
}

::selection {
    color: white;
}

/* ## Tags */

body {
    width: fit-content;
    block-size: fit-content;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light);
    box-sizing: border-box;
}

h1 {
    font-weight: bolder;
    margin: auto;
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    user-select: none;
}

.label-container {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.label-container label  {
    font-family: 'Montserrat', sans-serif;
    background: var(--bg-midtone);
    border-radius: 2px;
    padding: 0 1ch;
    font-size: .7rem;
    font-weight: bold;
    color: var(--text-dark);
    user-select: none;
}

.flex-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1ch;
}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 1ch;
}

#button-group {
    width: 50%;
    background-color: var(--bg-brown);
    color: var(--text-light);
}

#button-ungroup {
    width: 50%;
    background-color: var(--bg-brown);
    color: var(--text-light);
    text-decoration: linet
}


button {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    border: none;
    border-radius: 3px;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: var(--bg-midtone);
}

button:active {
    filter: brightness(.8);
    transform: scale(.98);
}

button:focus {
    outline: none;
}